
/* 💥💥💥💥💥💥 IMPORTS GOOGLE FONTS 💥💥💥💥💥💥 */
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Black+Ops+One&family=Combo&family=Genos:ital,wght@0,100..900;1,100..900&family=Griffy&family=Kranky&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&family=Special+Elite&display=swap');

/* 💥💥💥💥💥💥 IMPORTS STYLES 💥💥💥💥💥💥 */
@import url("./2-header.css");
@import url("./3-main.css");
@import url("./4-aside-image.css");
@import url("./5-aside-text.css");
@import url("./6-footer.css");

/* 💥💥💥💥💥💥 GENERAL STYLES 💥💥💥💥💥💥 */
/* ____ VARIABLES ____ */ 
:root{
  --width:100%;
  --colorWhitesmoke: whitesmoke;
  --fontGenos: Genos;
  --fontWeight500: 500;
  --converter: uppercase;
}

/* 🔹🔹🔹🔹🔹🔹 MODE: LIGHT / DARK 🔹🔹🔹🔹🔹🔹 */ 
.body-dark-mode{
  background-color: #76d749;
  /* °optional background color
 background-color: linear-gradient(#181317, #ad2c91, #201423) ; 
  */
}

.body-light-mode{
  background-color: #ffffff ;
  /* °optional color (line 27) */
}

/* 🔹🔹🔹🔹🔹🔹 PANELS CONTROLS IMAGE/TEXT 🔹🔹🔹🔹🔹🔹 */

/* .......... control panels position .......... */
body aside{
  /* width: 100%; */
  position: absolute;
  top: 0;
  /* display: none; */
}


/* ... font and font color panels download button ... */
body aside, .download-meme {
  font-family: var(--fontGenos);
  color: var(--colorWhitesmoke);
}

/* ... panel titles font size and alignment ... */
body aside .title-text-form,
.title-image-form{
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 20px;
}

/* ........ panel form element styles ........ */
textarea, 
select,
optgroup,
input,
button,
::placeholder{
  background-color: #393e49;
  color: var(--colorWhitesmoke);
}

/* ...... text transformation: panel titles / main text ...... */ 
.filter-image,
legend,
textarea {
  text-transform: var(--converter);
}


/* ........... button close panels ........... */ 
body aside .btn-close{
  width: 10%;
  color: var(--colorWhitesmoke);
  font-size: 1.6em;
  font-weight: 600;
  border: none;
  position: relative;
  left: 85%;
  margin-top:2%;
}

/* ............ checkbox styles ............ */ 
input[type="checkbox"] {
  appearance: none;
}
input[type="checkbox"] + label::before {
  border: 1px solid var(--colorWhitesmoke);
  border-radius: 50%;
  content: "💥";
  font-size: 8px;
  margin-left: 15px;
  margin-right: 7px;
  text-align: center;
}

input[type="checkbox"]:checked + label::before {
  border-color: rgb(255, 254, 254);
  color: transparent;
}


/* @-@-@-@- MEDIA QUERIE TABLET -@-@-@-@ */

@media (min-width: 768px) {
  /* ........ panels image / text ........ */
  body aside{
    background-color: aqua;
    right: 10%;
  }

  /* ........ hidden panel button ........ */
  aside .btn-close{
    display: none;
  }

}

/* @-@-@-@- MEDIA QUERIE DESKTOP -@-@-@-@ */

@media (min-width: 1024px) {
  main{
    background-color: #ff9ce6;
  
  }

 /* ........ panels image / text ........ */
  body aside{
    display: flex;
    right: 30%;
  }
  
  /* HIDDEN TEXT PANEL */
  body .text-panel-controls{
    display: none;
  }
  
}





