
/* 💥💥💥💥💥💥 IMPORTS GOOGLE FONTS 💥💥💥💥💥💥 */
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Black+Ops+One&family=Genos:ital,wght@0,100..900;1,100..900&family=Griffy&family=Kranky&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&family=Special+Elite&display=swap');


/* 💥💥💥💥💥💥 IMPORTS STYLES 💥💥💥💥💥💥 */
@import url("./2-header.css");
@import url("./3-main.css");
@import url("./4-aside-image.css");
@import url("./5-aside-text.css");
@import url("./6-footer.css");

/* 💥💥💥💥💥💥 GENERAL STYLES 💥💥💥💥💥💥 */
/* ____ VARIABLES ____ */ 
:root{
  --width:100%;
  --colorWhitesmoke: #f5f5f5;
  --color-violet: #570b55;
  --color-violet-dark:#2f1130;
  --color-grayish-violet: #66487a;
  --color-light-grayish-violet:#d1cdd7;
  --color-light-blue: #4a46ce;
  --color-light-violet:#9f81c4 ;
  --fontGenos: Genos;
  --fontWeight500: 500;
  --converter: uppercase;
}

/* 🔹🔹🔹🔹🔹🔹 MODE: LIGHT / DARK 🔹🔹🔹🔹🔹🔹 */ 
.body-dark-mode{
  background-color:var(--color-violet);
  /* °optional background color*/
 /* background-color: linear-gradient(#181317, #ad2c91, #201423) ;  */
  
}

.body-light-mode{
  background-color:var(--color-light-grayish-violet);

  /* °optional color (line 27) */
}

/* 🔹🔹🔹🔹🔹🔹 PANELS CONTROLS IMAGE/TEXT 🔹🔹🔹🔹🔹🔹 */

/* .......... position and alignment .......... */
body aside{
  background-color:var(--color-violet-dark);
  width: 78%;
  height: 780px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 2;
  /* display: none; */
}

fieldset{
  border: none;
}

/* ... font-font color panels, download button ... */
body aside, .download-meme {
  font-family: var(--fontGenos);
  /* color: var(--colorWhitesmoke); */
}

/* ..... panel titles font size and alignment ..... */
body aside .title-text-form,
.title-image-form{
  text-align: center;
  font-size: 1.3em;
}

/* ........... panel form element styles ........... */
aside,
textarea,
::placeholder, 
select,
optgroup,
input,
button,
.box-background-text,
.box-color-text,
.box-input-background-color-image{
  background-color:var(--color-grayish-violet);
  color: var(--colorWhitesmoke);
}

/* .. text transformation: panel titles / main text .. */ 
.title-image-form,
.title-text-form,
.filter-image,
legend,
textarea{
  text-transform: var(--converter);
}

/* ............... button close panels ............... */ 
body aside .btn-close{
  width: 10%;
  background-color: transparent;
  color: var(--colorWhitesmoke);
  font-size: 1.6em;
  font-weight: 600;
  border: none;
  position: fixed;
  left: 59%;
  top: 0;
}


/* @-@-@-@- MEDIA QUERIE TABLET -@-@-@-@ */

@media (min-width: 768px) {
  /* ........ panels image / text ........ */
  body aside{
   
    right: 10%;
  }

  /* ........ hidden panel button ........ */
  aside .btn-close{
    display: none;
  }

}

/* @-@-@-@- MEDIA QUERIE DESKTOP -@-@-@-@ */

@media (min-width: 1024px) {
  main{
    background-color: #ff9ce6;
  
  }

 /* ........ panels image / text ........ */
  body aside{
    display: flex;
    right: 30%;
  }
  
  /* HIDDEN TEXT PANEL */
  body .text-panel-controls{
    display: none;
  }
  
}





