/* ************** MOBILE FIRST ************** */
/* 💥💥💥💥💥 HEADER: ALIGN ELEMENTS 💥💥💥💥💥 */
header{
  /* background-color: #0b0a0b; */
  background: linear-gradient(#181317, #ad2c91, #201423);
  width:var(--width);
  height: 130px;
  font-family: var(--fontGenos);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

/* 💥💥💥💥💥💥 HEADER: TITLE MEME 💥💥💥💥💥💥 */
header .title-meme{
  color:var(--colorWhitesmoke);
  font-weight: var(--fontWeight500);
  font-size: 1.6em;
  margin: -5% 0 4%;

}

/* 💥💥💥💥💥 HEADER NAV-MENU BUTTONS 💥💥💥💥 */
header .nav-menu{/* Alignment: nav buttons*/
  /* background-color: #2b2bbb; */
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
 
}

/* 💥💥💥💥💥💥 NAV-MENU BUTTONS 💥💥💥💥💥💥 */
/* ---- General Navigation Button Styles ---- */
header .nav-menu .btn-nav-menu{
  background-color: transparent;
  width: 29%;
  color: var(--colorWhitesmoke);
  font-size: 0.9em;
  text-transform: capitalize;
  font-weight: var(--fontWeight500);
  border: 2px solid #ff000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


/* -------- Pseudo elements buttons icons -------- */
/* .......... image icon .......... */
header .nav-menu .button-image::before{
  font-family: "font awesome 5 free";
  font-weight: 600;
  content: "\f03e";
}

/* ........... text icon ........... */
header .nav-menu .button-text::before{
  font-family: "font awesome 5 free";
  font-weight: 900;
  content: "\f031";
  margin-left: 1px;
  margin-top: -1px;
}

/* .... (cat) icon light/dark mode .... */
header .nav-menu .button-mode::before{
  font-family: "font awesome 5 free";
  font-weight: 600;
  content: "\f6be";
}

/* ----- Pseudo elements buttons icons ----- */
header .nav-menu 
.button-image::before,
.button-text::before,
.button-mode::before{
  font-size: 1.3em;
}

header .nav-menu .btn-nav-menu:hover{
  border: 2px solid #0d00ff;
}

/* @-@-@-@- MEDIA QUERIE TABLET -@-@-@-@ */

@media (min-width: 768px) {
/* 💥💥💥💥 HEADER: ALIGN ELEMENTS 💥💥💥💥 */
  header{
    /* background-color: red; */
    height: 240px;
    gap: 10px;
   
  }

/* 💥💥💥💥 HEADER: TITLE MEME 💥💥💥💥 */
  header .title-meme{
    font-size: 3.3em;
    margin: -2% 0 3%;
  }

/* 💥💥💥💥 NAV-MENU BUTTONS 💥💥💥💥 */
  header .nav-menu .btn-nav-menu{
    /* background-color: greenyellow; */
    width: 20%;
    font-size: 1.4em;
  }

  /* ----- Pseudo elements buttons icons ----- */
  header .nav-menu .button-image::before,
  .button-text::before,
  .button-mode::before{
    font-size: 1.4em;
  }
}

/* @-@-@-@- MEDIA QUERIE DESKTOP -@-@-@-@ */

@media (min-width: 1024px) {
/* 💥💥💥💥 HEADER: ALIGN ELEMENTS 💥💥💥💥 */
header{
  /* background-color: red; */
  height: 250px;
  justify-content: flex-start;
  gap: 1px;
}
 
/* 💥💥💥💥 HEADER: TITLE MEME 💥💥💥💥 */
  header .title-meme{
    font-size: 3.7em;
    margin: 4% 0 3%;
  }

  header .nav-menu .btn-nav-menu{
    /* background-color: greenyellow; */
    width: 16%;
    font-size: 1.7em;
  }

  /* -------- Pseudo elements buttons icons -------- */
  header .nav-menu
  .button-image::before,
  .button-text::before,
  .button-mode::before{
    font-size: 1.3em;
  }
}
