
/* ************** MOBILE FIRST ************** */

/* 💥💥💥💥💥 HEADER: ALIGN ELEMENTS 💥💥💥💥💥 */
header{
  background-color: #1e0839;
  width:var(--width);
  height: 130px;
  font-family: var(--fontGenos);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
}

/* 💥💥💥💥💥💥 HEADER: TITLE MEME 💥💥💥💥💥💥 */
header .title-meme{
  color:var(--colorWhitesmoke);
  font-weight: var(--fontWeight500);
  letter-spacing: 1px;
}

/* 💥💥💥💥💥 HEADER NAV-MENU BUTTONS 💥💥💥💥 */
header .nav-menu{/* Alignment: nav buttons*/
  /* background-color: #2b2bbb; */
  width: var(--width);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

/* 💥💥💥💥💥💥 NAV-MENU BUTTONS 💥💥💥💥💥💥 */
/* ---- General Navigation Button Styles ---- */
header .nav-menu .btn-nav-menu{
  background-color: transparent;
  width: 29%;
  font-size: 0.9em;
  color: var(--colorWhitesmoke);
  font-weight: var(--fontWeight500);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------- Pseudo elements buttons icons -------- */
/* .......... image icon .......... */
header .nav-menu .button-image::before{
  font-family: "font awesome 5 free";
  font-weight: 600;
  content: "\f03e";
}

/* ........... text icon ........... */
header .nav-menu .button-text::before{
  font-family: "font awesome 5 free";
  font-weight: 900;
  content: "\f031";
  margin-left: 1px;
  margin-top: -1px;
}

/* .... (cat) icon light/dark mode .... */
header .nav-menu .button-mode::before{
  font-family: "font awesome 5 free";
  font-weight: 600;
  content: "\f6be";
}

/* @-@-@-@- MEDIA QUERIE TABLET -@-@-@-@ */

/* @media (min-width: 768px) {

} */

/* @-@-@-@- MEDIA QUERIE DESKTOP -@-@-@-@ */

/* @media (min-width: 1024px) {
  
} */

