
/* ************** MAIN: MEME **************  */
/* ... Alineación:container y boton de descarga ... */
main{
  background-color: #d8ec1f;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* ************** CONTAINER MEME **************  */
/* .......... Alineación de elementos .......... */
main .container-meme{
 background-color: #ffffff;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* --- GENERAL STYLES TOP TEX / BOTTOM TEX ---  */
main .container-meme .top-text,
.bottom-text{
  background-color: #ffffff;
  text-transform: var(--converter);
  /* text-shadow: 1.3px -1px 1px white;  */
  /* -webkit-text-stroke:2px #b5cd47; */
  /* font-family: Aldrich; */
/* letter-spacing: 23px; */
-webkit-text-stroke: 1px white;
  margin: 0;
  padding: 10px;
}

/* main .top-text:checked{
  display: flex;

} */
/* ------- IMAGE -------  */
main .container-meme .image-meme{
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

/* --- BUTTON DOWNLOAD ---  */
main .download-meme{
  background-color: #5782d2;
  border: none;
} 

