
/* 💥💥💥💥💥💥 MAIN: MEME 💥💥💥💥💥💥 */
/* ... Alignment:container and download button ... */
main{
  background-color: rgb(87, 11, 85);
  /* background-color: linear-gradient(#181317, #ad2c91, #201423); */
  width: 100%;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* 💥💥💥💥💥💥 CONTAINER MEME  💥💥💥💥💥💥 */
/* .......... Element Alignment .......... */
main .container-meme{
  background-color: #030303;
  width: 90%;
  height: 300px;
  text-align: center;
}

/* 💥💥💥💥💥💥 IMAGE MEME  💥💥💥💥💥💥 */
main .container-meme .image-meme{
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


/* 💥💥💥💥💥💥 WRAPPER TEXT IMAGE MEME  💥💥💥💥💥💥 */
main .container-meme .wrapper-text-image-meme{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:relative;
  top: -100%;
  z-index: 1;
}

/* 💥💥💥 STYLES: TOP TEX / BOTTOM TEX  💥💥💥 */
main .container-meme .top-text-meme,
.bottom-text-meme{
  font-family: "Black Ops One";
  text-transform: var(--converter);
  /* -webkit-text-stroke: 1px white; */
  margin: 0;
  padding: 10px;
  /* word-break: break-all; */
  overflow-wrap: break-word;
  position: relative;
}

/* 💥💥💥💥💥 BUTTON DOWNLOAD 💥💥💥💥💥 */
main .download-meme{
  background-color:#6c29ab;
  width: 50%;
  font-size: 0.9em;
  letter-spacing: 1px;
  line-height: 2;
  border: none;
  border-radius: 30px;
  padding: 3px;
} 

/* ...... download-meme: pseudoelement adds icon ...... */
main .download-meme::before{
  font-family: "font awesome 5 free";
  font-weight: 600;
  content: "\f019";
  margin-right: 5%;
} 

/* .... download-meme: pseudoelement color change .... */
main .download-meme:hover{
  background-color: #9822a5;
}

/* @-@-@-@- MEDIA QUERIE TABLET -@-@-@-@ */

/* @-@-@-@- MEDIA QUERIE DESKTOP -@-@-@-@ */