
/* 💥💥💥💥💥💥💥💥 TEXT PANEL CONTROLS (ASIDE) 💥💥💥💥💥💥💥💥 */
body .text-panel-controls {
  display: none;
  z-index: 1;
}

/* 💥💥💥💥💥💥💥💥💥💥 TITLE TEXT FORM 💥💥💥💥💥💥💥💥💥💥 */
body .text-panel-controls .title-text-form{
  margin: -9% 0% 5%;
}

/* 💥💥💥💥💥💥 ALIGNMENT: FORM 💥💥💥💥💥💥 */
body .text-panel-controls form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/* 💥💥💥💥 ALIGNMENT: FIELDSET-(TOP-TEXT / BOTTOM )-AREA 💥💥💥💥 */
.text-panel-controls form .fieldset-top-text-area, .fieldset-bottom-text-area{
  display: flex;
  flex-direction: column;
  resize: none;
}

/* 💥💥💥💥💥💥💥💥💥 GENERAL FIELDSET STYLES  💥💥💥💥💥💥💥 */
body .text-panel-controls form 
#select-font,
#input-text-line-height,
#select-letter-spacing-text{
  width: 100%;
  height: 40px;
  border: none;
}

/* 💥💥💥💥💥 ALIGNMENT: WRAPPER FONT TEXT (elements)💥💥💥💥💥 */
.text-panel-controls form .wrapper-font-text{
  /* background-color: black; */
  display: flex;
  align-items: center;
  gap: 9px;
}

/* 💥💥💥💥💥💥💥💥💥💥 FONT- SIZE 💥💥💥💥💥💥💥💥💥💥 */
body .text-panel-controls form #font-size-text{
  width: 90px;
  height: 30px;
  border: none;
}

/* 💥💥💥💥💥💥💥 BUTTONS STYLES: ALIGN TEXT 💥💥💥💥💥💥💥 */
.text-panel-controls form .wrapper-font-text
#align-text-left,
#align-text-center,
#align-text-right{
  width: 15%;
  height: 30px;
  border: none;
  /* border-end-end-radius: 10px; */
  border-end-start-radius: 19px;
}

/* ------ Pseudo elements buttons icons ------ */
/* .......... left icon .......... */
.text-panel-controls form .wrapper-font-text
#align-text-left::before{
  font-family: "font awesome 5 free";
  font-weight: 600;
  content: "\f036";
}

/* .......... center icon .......... */
.text-panel-controls form .wrapper-font-text
#align-text-center::before{
  font-family: "font awesome 5 free";
  font-weight: 600;
  content: "\f037";
}

/* .......... right icon .......... */
.text-panel-controls form .wrapper-font-text
#align-text-right::before{
  font-family: "font awesome 5 free";
  font-weight: 600;
  content: "\f038";
}

/* .... buttons align text hover .... */
.text-panel-controls form
.wrapper-font-text #align-text-left:hover{
  background-color: var(--color-light-blue);
}

.text-panel-controls form 
.wrapper-font-text #align-text-right:hover{
  background-color: var(--color-light-blue);
}

.text-panel-controls form
.wrapper-font-text #align-text-center:hover{
  background-color: var(--color-light-blue);
}

/* 💥💥💥 ALIGNMENT: WRAPPER-COLOR-AND-BACKGROUND-TEXT (elements)  💥💥💥 */
body .text-panel-controls form .wrapper-color-and-background-text{
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
}

/* 💥💥💥 ALIGNMENT: BOX COLOR TEXT / BOX BACKGROUND TEXT 💥💥💥 */
body .text-panel-controls form .wrapper-color-and-background-text .box-color-text,
.box-background-text{
  height: 30px;
  display: flex;
  justify-content:center;
  justify-content: center;
}

.wrapper-color-and-background-text .box-color-text .title-color,
.box-background-text .title-background{
  position: relative;
  top: -30%;
  left: -5%;
}


/* .... appearance color-text, backgroubd text (input) .... */
.text-panel-controls form .wrapper-color-and-background-text
.box-color-text #color-text,
.box-background-text #background-text{
  background-color:transparent;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none; 
  margin: -14%;
}

input[type="color"]#color-text::-webkit-color-swatch,
input[type="color"]#background-text::-webkit-color-swatch{
  border: none;
  border-radius: 50%;
  
}

/* ........ name (color,background) text ........ */
.wrapper-color-and-background-text .box-color-text .name-color-text,
.wrapper-color-and-background-text .box-background-text .name-background-text{
  margin-left: 15%;
  margin-top: -6%;
}

/* ..... checkbox appearance no (top, bottom) text ..... */ 
#checkbox-no-top-text[type="checkbox"],
#checkbox-no-bottom-text[type="checkbox"],
#checkbox-transparent-background-text[type="checkbox"] {
  appearance: none;
  margin-top: 4%;
}

#checkbox-no-top-text[type="checkbox"] + .label-icon-checkbox::before,
#checkbox-no-bottom-text[type="checkbox"] + .label-icon-checkbox::before,
#checkbox-transparent-background-text[type="checkbox"] + .label-icon-checkbox::before{
  border: 1px solid var(--colorWhitesmoke);
  border-radius: 50%;
  content: "💥";
  font-size: 8px;
  text-align: center;
}

#checkbox-no-top-text[type="checkbox"]:checked + .label-icon-checkbox::before,
#checkbox-no-bottom-text[type="checkbox"]:checked + .label-icon-checkbox::before,
#checkbox-transparent-background-text[type="checkbox"]:checked + .label-icon-checkbox::before  {
  border-color: #fffefe;
  color: transparent;
}

/* ........... box-transparent-background-text ........... */
.wrapper-color-and-background-text #checkbox-transparent-background-text{
 margin-left: -35%;

}

/* 💥💥💥💥💥💥💥💥 TEXT FONT OUTLINE 💥💥💥💥💥💥💥💥*/
body .text-panel-controls form .text-font-outline{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

/* 💥💥💥💥💥💥 BUTTONS: TEXT FONT OUTLINE 💥💥💥💥💥💥 */
body .text-panel-controls form .text-font-outline
#no-text-outline,
#light-text-outline,
#dark-text-outline{
  width: 80%;
  font-size: 0.9em;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  border-radius: 50px 90px 80px 10px;
  margin: 0;
  padding: 7px;
}

body .text-panel-controls form .text-font-outline
#text-outline-none:hover{
  background-color: var(--color-370467);
}

body .text-panel-controls form .text-font-outline
#text-outline-light:hover{
  background-color: var(--color-370467);
}

body .text-panel-controls form .text-font-outline
#text-outline-dark:hover{
  background-color: var(--color-370467);
}

/* @-@-@-@- MEDIA QUERIE TABLET -@-@-@-@ */

@media (min-width: 768px) {
  /* aside{
    display: none;
  } */

}

/* @-@-@-@- MEDIA QUERIE DESKTOP -@-@-@-@ */

/* @media (min-width: 1024px) {
  
} */



