/* 💥💥💥💥💥💥 TEXT PANEL CONTROLS (ASIDE) 💥💥💥💥💥💥 */
body .text-panel-controls {
  display: flex;
  flex-direction: column;
  background-color: #c49292;
  z-index: 1;
}

/* 💥💥💥💥💥💥 ALIGNMENT: FORM 💥💥💥💥💥💥 */
body .text-panel-controls form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* 💥💥💥 ALIGNMENT: FIELDSET TEXTAREA / CHECKBOX 💥💥💥 */
body .text-panel-controls form .fieldset-top-text-area,
.fieldset-bottom-text-area{
  display: flex;
  flex-direction: column;
}

/* 💥💥 ALIGNMENT:WRAPPER FONT SIZE / BUTTON ALIGN TEXT 💥💥 */
.text-panel-controls form .wrapper-font-align-text{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* 💥💥💥💥💥💥 BUTTONS ALIGN TEXT 💥💥💥💥💥💥 */
.text-panel-controls form .wrapper-font-align-text
#align-text-left,
#align-text-center,
#align-text-right{
  width: 15%;
  height: 30px;
  border: none;
  /* border-end-end-radius: 10px; */
  border-end-start-radius: 19px;
}

.text-panel-controls form .wrapper-font-align-text
#align-text-left::before{
  font-family: "font awesome 5 free";
  font-weight: 600;
  content: "\f036";
}

.text-panel-controls form .wrapper-font-align-text
#align-text-center::before{
  font-family: "font awesome 5 free";
  font-weight: 600;
  content: "\f037";
}

.text-panel-controls form .wrapper-font-align-text
#align-text-right::before{
  font-family: "font awesome 5 free";
  font-weight: 600;
  content: "\f038";
}

/* 💥💥💥💥💥 BUTTONS ALIGN TEXT HOVER 💥💥💥💥💥 */
.text-panel-controls form
.wrapper-font-align-text #align-text-left:hover{
  background-color: #370467;
}

.text-panel-controls form 
.wrapper-font-align-text #align-text-right:hover{
  background-color: #370467;
}

.text-panel-controls form
.wrapper-font-align-text #align-text-center:hover{
  background-color: #370467;
}

/* 💥💥 FIELDSET FONT: (select, line-heigth, spacing💥💥 */
body .text-panel-controls form 
#select-font,
#input-text-line-height,
#select-letter-spacing-text{
  width: 100%;
}

/* 💥💥💥 ALIGNMENT: INPUT COLOR-BACKGROUND  💥💥💥 */
body .text-panel-controls form
.wrapper-input-color-and-background-text{
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap; 
}

/* 💥💥💥 ALIGNMENT: COLOR-BACKGROUND FIELDSET 💥💥💥 */
body .text-panel-controls form .fieldset-color-text,
.fieldset-background-text{
  width: 39%;
  display: flex;
  margin-left: 3px;
}

/* 💥💥💥💥💥💥 COLOR-TEXT INPUT APPEARANCE  💥💥💥💥💥💥 */
.text-panel-controls form
.wrapper-input-color-and-background-text
.fieldset-color-text #color-text{
  background-color:transparent;
  width: 25px;
  border-radius: 50%;
  border: none;
}

input[type="color"]#color-text::-webkit-color-swatch {
 border: none;
 border-radius: 50%;

}

/* 💥💥💥💥💥💥 BACKGROUND-TEXT INPUT APPEARANCE  💥💥💥💥💥💥 */
.text-panel-controls form
.wrapper-input-color-and-background-text
.fieldset-background-text #background-text{
  background-color:transparent;
  width: 25px;
  border-radius: 50%;
  border: none;
}

input[type="color"]#background-text::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
 
 }
/* 💥💥💥 TEXT FONT OUTLINE 💥💥💥 */
body .text-panel-controls form .text-font-outline{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* 💥💥💥 BUTTONS: TEXT FONT OUTLINE 💥💥💥 */
body .text-panel-controls form .text-font-outline
#text-outline-none,
#text-outline-light,
#text-outline-dark{
  width: 30%;
  text-align: left;
  letter-spacing: 1.3px;
  border: none;
  border-end-end-radius: 30px;
  padding: 7px;
}

body .text-panel-controls form .text-font-outline
#text-outline-none:hover{
  background-color: #370467;
}

body .text-panel-controls form .text-font-outline
#text-outline-light:hover{
  background-color: #370467;
}

body .text-panel-controls form .text-font-outline
#text-outline-dark:hover{
  background-color: #370467;
}

/* @-@-@-@- MEDIA QUERIE TABLET -@-@-@-@ */
/* 
@media (min-width: 768px) {

} */

/* @-@-@-@- MEDIA QUERIE DESKTOP -@-@-@-@ */

/* @media (min-width: 1024px) {
  
} */



